/* RESET */
html {
    font-family: "Roboto", sans-serif !important;
}
.gradient-color, 
.single-stories-carousel:hover h6 a, 
.single-post-carousel:hover 
.post-details h2 a, 
.single-post-item:hover 
.post-details h4 a, 
.popular-posts-widget .single-popular-post:hover h6 a {
    background: -webkit-linear-gradient(90deg, #ff9100c4 0%, #ff9100c4 100%);
    background: -moz-linear-gradient(90deg, #f57f17 0%, #ff9100c4 100%);
    background: -o-linear-gradient(90deg, #f57f17 0%, #ff9100c4 100%);
    background: -ms-linear-gradient(90deg, #f57f17 0%, #ff9100c4 100%);
    /* background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu a {
    font-weight: normal !important;
}
/* INPUT DE PESQUISA */
.bg-padrao input {
    background: #F5F6FA !important;
}

.single-footer-widget input {
    width: 100%;
    border: 1px solid #ffffff;
    font-size: 13px;
    line-height: 30px;
    padding-right: 40px;
    height: 41px;
    color: #999999;
    background: #000000;
    padding-left: 20px;
}
/* TRABALHANDO COM CARD */
.mk-card {
    background-image: linear-gradient(87deg, #f57f17 0, #ff9100e0 100%) , url(../img/ilustracao/fundo.gif) !important;
    background-size: 100%  !important;
    background-position: center;
    border-radius: 0px !important;
    color: white !important;
}
.mk-card img {
    width:50% !important;
}
.mk-card h2 , 
.mk-card h3 {
    font-weight: bold;
}
/* CARD */
.mk-section-card .card-mk {
    transition: .2s;
    border: 1px solid #ECEEF1;
}
.mk-section-card .card-mk:hover {
    cursor: pointer;
    transition: .2s;
    transform: scale(1.026);
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.075);
    border: 0px !important;
    z-index: 1;
}

.mk-section-card .card-body h4 {
    font-weight: bold;
}
.mk-section-card .card-mk-autor strong {
    color: black !important;
}

/* FOOTER */
.footer-area {
    background-image: linear-gradient(87deg, #000000 0, #000000ec 100%) , url(../img/ilustracao/fundo.gif) !important;
    background-size: 100%  !important;
    background-position: center;
}
/* PAGINAÇÃO  */
.page-item.active .page-link, .blog-pagination .page-link:hover, .single-footer-widget .sub-btn  {
    background:  linear-gradient(87deg, #f57f17 0, #ff9100e0 100%)  !important;
}
/* ====================================== parceiros ====================================== */
.parceiros {
    height: 150px;
    background: #F5F6FA !important;
    margin-top: -100px;
}
.customers {
    margin-top: 40px !important;
}
.customers img {
    width: 100px !important;
}
.owl-controls {
    display: none !important;
}
/* ================================= PÁGINA DE DICAS ================================= */
.publicidade {
    height: 200px;
    border: 1px solid #bababb !important;
    /* background: #F5F6FA !important; */
}
.publicidade h3 {
    color: #5C5C5C !important;
    box-sizing: border-box;
    flex-shrink: 0;
    line-height: 1.4em;
    font-weight: 300;
}
.publicidade .publicidade-right {
    background: #3E3D3D !important;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 40px !important;
}
.publicidade .publicidade-right a {
    text-align: center !important;
    margin: 10px auto !important;
}
.publicidade i {
    font-size: 40px;
    color: white !important;
}
.margem_topo {
    height: 100px;
    margin-top: -190px !important;
}
.banner-area {
    background-size: auto;
    background-position-y: 0rem;
    background-image:  linear-gradient(87deg, #000000b4 0, #000000a1 100%), url(../img/ilustracao/fundo.png)  !important;
}
@media(max-width: 700px) {
    .margem_topo {
        height: auto !important;
        margin-top: 0px !important;
    }
    .publicidade {
        height: auto !important;
    }
}
/* ============================= PÁGINA COMO FAZER =================================== */
.banner_como_fazer {
    height: 500px;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-image:  linear-gradient(87deg, #0000006e 0, #0000006e 100%), url(https://redislabs.com/wp-content/uploads/2019/01/blog-social-redis-cli.jpg)  !important;
}
.bannger_margem_topo {
    margin-top: 65px;
    padding: 160px 0px;
    color: white !important;
}
.bannger_margem_topo .col-lg-4 h2 {
    color: white !important;
    text-align: right;
}
.bannger_margem_topo .col-lg-4 p{
    margin-top: 30px !important;
    text-align: justify;
}


/* PÁGINA DE CONTACTOS */
.banner-contactos {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:  linear-gradient(87deg, #f57f17 0, #ff910096 100%) , url(https://image.freepik.com/free-photo/african-american-business-woman-talking-phone-cafe_1303-9875.jpg)  !important;
}
.contact-page-area .single-contact-address .lnr {
    color: #f57f17 !important;
}
.genric-btn.primary {
    background: #f57f17 !important;
}
.genric-btn.primary:hover {
    color: white !important;
}


/* PAGINA SOBRE LINUX FOSS ANGOLA */

/* Banner Principal */
.banner-sobre {
    height: 450px;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-image:  linear-gradient(87deg, #000000c0 0, #050505da 100%) , url(https://www.paisley.org.uk/wp-content/uploads/2019/06/expo-10.jpg)  !important;
}
/* Banner Sobre Linux Foss Angola */
.sobre-banner-linux {
    background-image:  linear-gradient(87deg, #000000c0 0, #050505da 100%) , url(https://segredosdomundo.r7.com/wp-content/uploads/2019/11/pinguim-tudo-o-que-voce-precisa-saber-sobre-esse-animal-7.jpg); 
    background-size: 100% ; 
    height: 350px; 
    background-position: center;
     background-attachment: fixed;
}
.sobre-linux .card {
    background: transparent !important;
    border: 1px solid white !important;
    border-radius: 0px !important;
    color: white !important;
}
.sobre-linux h4 {
    font-size: 24px;
}
.sobre-linux i {
    margin-bottom: 10px !important;
    font-size: 20px !important;
    color: white !important;
}
.sobre-linux span {
    font-size: 16px;
}


/* Comunidade */
.sobre-banner-comunidade {
    height: 430px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:  linear-gradient(87deg, #000000dc 0, #050505da 100%) , url(https://www.paisley.org.uk/wp-content/uploads/2019/06/expo-10.jpg)  !important;
}

.comunidade {
    margin-top: 80px !important;
}
.comunidade .card {
    border-radius: 0px !important;
    text-align: center;
}
.comunidade i {
    text-align: center;
    font-size: 30px !important;
    margin-bottom: 5px;
}


/* Forum */

.combox-search {
    /* border: 1px solid black !important; */
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    background-color: #fff
}

.btn-light {
    background: none !important;
    width: 100% !important;
    border-radius: 0px !important;
    border: 0px !important; 
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    text-decoration: none;
    outline: none !important;
    border-color: none !important; 
  -webkit-box-shadow: none !important;  
  box-shadow: none !important; 
}
.bootstrap-select > .dropdown-toggle:focus {
    outline: none !important;
}




.nav-pills .nav-link {
    font-size: 1.1487em;
    color: black !important;
}
.nav-pills .nav-link.active{
    color: #f57f17 !important;
    border-bottom: 2px solid #f57f17;
    border-radius: 0px !important;
    background: none !important;
    font-weight: 500;
}


/* PÁGINA DE SAUDAÇÃO */
.topico {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: -10px;
    /* border-radius: 2px; */
    padding: 12px 20px 0 20px;
    border-top: 1px solid #e6e6e6;
}
.topico-respost h4 {
    margin: 1px 0 2px 0;
    color: gray;
    font-weight: normal;
    font-size: .8706em;
    line-height: 1;
}
.topico img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.topico .user {
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
    padding: 4px;
    margin: 0.125em 0.25em 0.125em 0;
    display: flex;
    align-items: center;
    height: 26px;

}

.topico .username {
    margin-left: 0.35em; 
    margin-right: 0.25em;
}
.autores-frequentes h3{
    margin-bottom: 4px;
    color: #000;
    line-height: 1.4;
    font-weight: normal;
    font-size: 1em;
}

.partilhas-buttons button {
    border-radius: 2px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    /* padding: 6px 12px; */
    
    min-height: 30px;
    border: none;
    font-weight: normal;
    color: #000;
    background: #e6e6e6;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s;
}
/*======================================= Minhas Coisas =======================================*/
.bl-mk {
    border-left: 4px solid #f57f17 !important;
}
.bl-azul {
    border-left: 4px solid #0E76BD !important;
}
.bl-verde {
    border-left: 4px solid #3AB54A !important;
}
.bl-secondario {
    border-left: 4px solid #7B33FF !important;
}

.bg-padrao {
    background:#f57f17 !important;
}
.bg-dicas {
    background: #c40909 !important;
}
.bg-como_fazer {
    background: #015091 !important;
}
.bg-mk {
    background: #F5F6FA !important;
}
.bg-mk-1 {
    background: #F5F6FA !important;
}
.bg-mk a {
    color: black !important;
}
.legend-carousel {
    background: #f57f17;
    padding: 1px;
    text-align: center;
}
.single-widget {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 0px;
    background: #1e1c27;
}
.social-links {
    margin-top: 80px;
}
.protfolio-widget .social-links li a  {
    background: #f57f17 !important;
    color: white !important;
}
.dados {
    bottom: 20px;
    left: 0px;
}

.card {
    border-radius: 0px !important;
}
.list-group-forum {
    list-style-type: disc
}

.form-card .card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    background-color: #fff
}

.img-categoria img{
    width: 120px !important;
    height: 120px !important;
    max-width: 80px !important;
    max-height: 80px !important;
    padding: 10px;

}
.img-categoria  {
    border-radius: 50%;
    margin: 0px auto !important;
    text-align: center !important;
}

/* Avatar */
.avatar-user img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.form-legend {
    background: #7B33FF;
    color: white;
    padding: 5px 5px;
}

.btn-padrao {
    background: linear-gradient(87deg, #FFCE8B 0, #FA5B72 100%) !important;
    border: 1px solid #FFCE8B !important;
}
.btn-entrar {
    background: linear-gradient(87deg, #5F7CE9 0, #8E50B9 100%) !important;
    border: 1px solid #5F7CE9 !important;
}
.btn-primary {
    color: white !important;
}

.form-contactos .form-group .form-control,
.modal form .form-group input {
    border-radius: 0px !important;
    border: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    background-color: #fff !important;
}
.modal form .form-group input[type=submit] {
    border-radius: 4px !important;
}

.modal-login{
    width: 100%;
    background-size: 100% !important;
    background-image: linear-gradient(87deg, #FFCE8B 0, #FA5B72 100%) !important;
}   

.register-descricao {
    margin-top: 140px !important;
}

.text-red {
    color: red !important;
}



/* Modal Login */
.login-descricao {
    margin-top: 60px !important;
}



/* Buttons */
.bnt-padrao {
    background: #E6E6E6;
    color: #0094ff;
    border: 0px;
}
.buttons button{
    border: 0px;
    background: none;
    color: #979696;
}
.love:hover {
    background: #FA6C8D !important;
    color: white !important;
}
.buttons button:hover {
    background: #E6E6E6;
    cursor: pointer;
    color: black;
}

.btn-replay {
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50px;
    right: -2px;
    background-color: #0094ff;
    box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
    overflow: hidden;
    width: 60px;
    height: 60px;
    transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s, visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s, background-color 2s, transform 0.5s;
}


.cor-sinza {
    color: #B3B3B3;
}


.dropdown-menu .name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 auto;
    font-weight: bold;
    font-size: 1em;
    color: #000;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.dropdown-menu .desc{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 auto;
    font-size: .8706em;
    font-weight: normal;
    color: gray;
    white-space: normal;
 }