/* RESET */
.gradient-color, 
.single-stories-carousel:hover h6 a, 
.single-post-carousel:hover 
.post-details h2 a, 
.single-post-item:hover 
.post-details h4 a, 
.popular-posts-widget .single-popular-post:hover h6 a {
    background: -webkit-linear-gradient(90deg, #ff9100c4 0%, #ff9100c4 100%);
    background: -moz-linear-gradient(90deg, #f57f17 0%, #ff9100c4 100%);
    background: -o-linear-gradient(90deg, #f57f17 0%, #ff9100c4 100%);
    background: -ms-linear-gradient(90deg, #f57f17 0%, #ff9100c4 100%);
    /* background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ============================================ */

/* TRABALHANDO COM CARD */
.mk-card {
    background-image: linear-gradient(87deg, #f57f17 0, #ff9100e0 100%) , url(../img/ilustracao/fundo.gif) !important;
    background-size: 100%  !important;
    background-position: center;
    border-radius: 0px !important;
    margin-top: -1px !important;
    color: white !important;
}
.mk-card img {
    width:50% !important;
}
.mk-card h2 , 
.mk-card h3 {
    font-weight: bold;
}
/* BACKGROUND */
.bg-padrao {
    background-image: linear-gradient(87deg, #f57f17 0, #ff9100e0 100%) !important
}
.bg-mk {
   background: #F5F6FA !important;
}
.bg-mk a {
    color: black !important;
}

/* CARD */
.mk-section-card .card-mk {
    transition: .2s;
    border: 1px solid #ECEEF1;
}
.mk-section-card .card-mk:hover {
    cursor: pointer;
    transition: .2s;
    transform: scale(1.026);
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.075);
}
.mk-section-card img {
    margin-top: 15px !important;
    height: 220;
    width: 380;
    border-radius: 0px !important;
}
.mk-section-card .card-body h4 {
    margin-top: 15px !important;
    font-weight: bold;
}
/* FOOTER */
.footer-area {
    background-image: linear-gradient(87deg, #000000 0, #000000ec 100%) , url(../img/ilustracao/fundo.gif) !important;
    background-size: 100%  !important;
    background-position: center;
}
/* PAGINAÇÃO  */
.page-item.active .page-link, .blog-pagination .page-link:hover, .single-footer-widget .sub-btn  {
    background:  linear-gradient(87deg, #f57f17 0, #ff9100e0 100%)  !important;
}
/* ====================================== parceiros ====================================== */
.parceiros {
    height: 150px;
    background: #F5F6FA !important;
}
.customers {
    margin-top: 40px !important;
}
.customers img {
    width: 100px !important;
}
.owl-controls {
    display: none !important;
}